@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 0.5rem; /* Adjust gap as needed */
}

@media (max-width: 1200px) {
  .custom-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media (max-width: 450px) {
  .custom-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem; /* Adjust gap as needed */
  }
}
